<!DOCTYPE html>
<html>
<head>
<title>Node info</title>
<meta charset="UTF-8">
<meta name="description" content="Basic information about nodes managed by Puppet">
<link rel="stylesheet" type="text/css" href="nodeinfo.css">
</head>
<body>
<article>
<table>
    <tr>
        <th>FQDN</th>
        <th>Arch</th>
        <th>OS</th>
        <th>CPUs</th>
        <th>Mem</th>
        <th>Virtual</th>
        <th>Primary IP</th>
        <th>TZ</th>
        <th>Upd.</th>
        <th>S.upd.</th>
        <th>Reboot</th>
        <th>Admin</th>
        <th>Uptime</th>
    </tr>
