<!DOCTYPE html>
<html>
<head>
<title>Node info</title>
<meta charset="UTF-8">
<meta name="description" content="Basic information about nodes managed by Puppet">
<link rel="stylesheet" type="text/css" href="nodeinfo.css">
<script src="sorttable.js"></script>
</head>
<body>
<article>
<table class="sortable">
    <!-- Headers and cell data are both dynamically from the $::nodeinfo::variable_names array -->
    <tr>
        <% variable_names.each do |val| -%><th><%= val %></th><% end -%>
    </tr>
